.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.paginator {
  width: 200px;
  margin: 10px auto;
}

.curr-page {
  margin: 0 10px;
}

/* .container {
  background-color: lightgray;
} */

span {
  font-weight: bold;
}
